*{
    box-sizing : border-box;
}

body{
    font: 20px "Raleway", sans-serif;
}

header{
    color: black;
}

.title{
    text-align: center;
}

.board{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(20, 30px);
    grid-auto-rows: 30px;
    width: max-content;
    margin: auto;
    border: 3px solid black;
}

.cell{
    background-color: #d3d3d3;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}